@import '../../styles/colors.scss';
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

    .imageWrapper{
        height: 90%; 
        display: flex;
        justify-content: center;
        align-items: center;

        .image{
            height: 100% ; 
            // width: 100%;
        }
    }
}
