.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;

    .horizontalBar{
        width: 100%;
        background-color: green;
        min-height: 50vh;
    }


}