$color_black:#040C11;
$color_blacklight:#040c11e8;

$color_darkblue:#071722;
$color_darkbluelight:#07172283;

$color_mediumblue:#0D283B;
$color_mediumbluelight:rgba(39, 127, 185, 0.521);

$color_blue:#1C5B84;
$color_bluelight:#1c5a84cb;

$color_purple:#404363;
$color_purplelight:#404363b0;

$color_pink:#935B88;
$color_pinklight:#935b88bb;

$color_orange:#B46A6C;
$color_orangelight:#b46a6dc4;



